* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background-color: #000000;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: rgb(255, 0, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    padding: 100px 0px 0px 0px;
}

/* <img src="img/pruebas.png" alt="" class="imagen-about-us"> */

.explicacion_comandos_anti-raid {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.footer_comandos_anti-raid {
    color: #fff;
    font-size: 20px;
}

.section_categorias {
    background: #000000;
}

.titulo-final {
    color: #fff;
    text-align: center;
    background: #000000;

}


.footer_creador {
    background: #000000;
    color: #fff;
}

/* header */

header {
    width: 100%;
    height: 600px;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, hsla(240, 50%, 40%, 0.602), hsla(312, 100%, 50%, 0.602)), url(../img/pgs-test.png);
    background: linear-gradient(to right, hsla(240, 50%, 40%, 0.602), hsla(312, 100%, 50%, 0.602)), url(../img/pgs-test.png);
    background-size: cover;
    background-attachment: fixed;
    flex-wrap: wrap;
    position: relative;

}

nav {
    text-align: right;
    padding: 30px 50px 0px 30px;
}

nav>a {
    color: rgb(0, 253, 207);
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

/* MEDIA QUERY */

nav>a:hover {
    text-decoration: underline;
    color: rgb(248, 248, 11);
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* about us */

.section_anti-raid {

    width: 80%;
    margin: 0 auto;
}

.contenedor-sobre-nosotros {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.contenido-textos-2 {
    display: flex;
}

.contenido-textos-2 h3 {
    padding: 10px 1200px 30px 15px;
    color: #fff;
}

.imagen-about-us {
    /*width: 35%;*/
    padding: 0px 300px 20px 300px;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos {
    display: flex;
    display: grid;
    flex-wrap: wrap;
}

.contenido-textos h3 {
    margin-bottom: 15px;
    color: #fff;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rbga(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #fff;
}

.contenedor-text-img {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.imagen-port {
    width: 35%;
    margin-bottom: 30px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 6px 0 rgba(255, 0, 0, 0.5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}



.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.contenedor-reversa {
    flex-direction: row-reverse;
}

.explicacion_categorias {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 0px 0px 0px;
}

/* galeria */
.portafolio {
    background: #000000;
}


.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}